.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.text-lg {
  font-size: 1.5em;
}

.text-white {
  color: white;
}

.text-gray {
  color: #99AAAA;
}

.text-gold {
  color: #C7B185;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}
